name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.20.4

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Coverage
      run: go test -v -race -covermode=atomic -coverprofile=coverage.out

    - name: Upload coverage report
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage.out
        flags: unittests
        fail_ci_if_error: true
        verbose: true
